/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

